@import views.html.helper._
@import forms.institutions.RenameInstitutionData
@import play.api.mvc.MessagesRequestHeader
@import play.api.data.Form
@import models.Institution

@(institution: Institution, institutionForm: Form[RenameInstitutionData])(implicit request: MessagesRequestHeader, flash: Flash)

@layout.authenticated("Rename Institution") {
  <div class="page-header">
    <h1>Rename Institution</h1>
  </div>

  @form(action = routes.RenameInstitutionController.get(institution.id), Symbol("class") -> "form-section") {
    @CSRF.formField
    @inputText(institutionForm("name"), Symbol("class") -> "form-field", Symbol("maxlength") -> "300")
    <input type="submit" value="Submit">
  }

}